// Place all the styles related to the rosters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light_brown: #ede2c2;
$normal_brown: #e2d9b2;
$border_yellow: #E1A60A;

body{
  background-image: url(paper.jpg);
}
.navbar{
  box-shadow: 0px 8px 5px #2C2C2C;
  width: 110%;
  left: -10px;
  .nav{
    margin-top: 3px;
  }
  .nav.pull-right{
    margin-right: 8%;
  }
  .dropdown-toggle{
    font-size: 20px;
  }
}
.headingRow{
  margin-top: 60px;
  padding: 10px;
  .teamLogo{
    float: left;
    img{
      margin-right: 25px;
    }
  }
  .teamBox{
    border: 4px solid $border_yellow;
    border-radius: 10px;
    padding: 10px;
    background-color: $normal_brown;
    float: right;
    margin-right: 10px;
    overflow: hidden;
    width: 414px;
    margin-left: 13px;
    .arrow{
      float: left;
      margin-top: 30px;
    }
    .arrow.left{
      padding-right: 5px;
    }
    .arrow.right{
      padding-left: 5px;
    }
    .sliderContainer{
      width: 374px;
      overflow: hidden;
      float: left;
    }
    .teamSlider{
      width: 99999px;
    }
    .team{
      width: 56px;
      padding: 3px;
      float: left;
      a{
        color: #372D0F;
      }
    }
    .logo{
      img{
        width: 52px;
      }
    }
    .name{
      width: 54px;
      text-align: center;
      font-weight: bold;
    }
  }
  .teamDetails{
    .teamName{
      h1{
        text-decoration: underline;
        cursor: pointer;
      }
      input{
        height: 36px;
        font-size: 30px;
        font-weight: bold;
        width: 300px;
      }
    }
    tr.teamValue td{
      color: #3052AF;
      font-weight: bold;
      a{
        color: #3052AF;
        font-weight: bold;
      }
    }
    input{
      width: 100px;
      height: 12px;
      margin: 0px 0px 0px 5px
    }
    td.clickable{
      div{
        display: inline;
      }
    }
    .inputs.num{
      input{
        display: inline;
        width: 25px
      }
    }
  }
}

table{
  tr{
    td.clickable{
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

table.team{
  border-collapse: separate;
  tr{
    height: 48px;
  }
  td.clickable.skills{
    text-decoration: none;
  }
  td{
    border-width: 4px;
    border-style: double;
    border-color: $border_yellow;
  }
  tr:nth-child(even) {
    background-color: $light_brown;
  }


  tr:nth-child(odd) {
    background-color: #e2d9b2;
  }
  tr:first-child td:first-child{
    border-top-left-radius:10px;
  }

  tr:first-child td:last-child{
    border-top-right-radius:10px;
  }
  tr:last-child td:first-child{
    border-bottom-left-radius:10px;
  }
  tr:last-child td:last-child {
//    border-style: solid;
    border-bottom-right-radius:10px
  }
  td:first-child{
    border-left-width: 6px;
  }
  td:last-child{
    border-right-width: 6px;
  }
  tr:first-child td{
    border-top-width: 6px;
  }
  tr:last-child td{
    border-bottom-width: 6px;
  }
  td{
    .skill-list{
      display:inline;
      .defaultSkills{
        display:inline;
      }
      span.remove-skill{
        width: 0px;
        overflow:hidden;
        display: inline-block;
      }
    }
    .inputs{
      select{
        height: 20px;
        margin-bottom: 0px;
        width: 150px;
      }
    }
  }
  td{
    input{
      width: 100px;
      height: 12px;
      margin: 0px 0px 0px 5px

    }
    span.label{
      margin-left: 10px;
    }
    span.label-default{
      background-color: $border_yellow;
      text-shadow: 0 -1px 0 $border_yellow;
    }
    span.label:first-child{
      margin-left: 0px;
    }
  }
}