// Place all the styles related to the rosters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image: url(paper.jpg);
}
.navbar{
  box-shadow: 0px 8px 5px #2C2C2C;
  width: 110%;
  left: -10px;
  .nav{
    margin-top: 3px;
  }
  .nav.pull-right{
    margin-right: 8%;
  }
  .dropdown-toggle{
    font-size: 20px;
  }
}
.headingRow{
  margin-top: 50px;
  padding: 10px;
  .teamLogo{
    img{
      width: 170px;
    }
  }
  table.teamDetails{
    input{
      width: 100px;
      height: 12px;
      margin: 0px 0px 0px 5px
    }
    .inputs.num{
      input{
        width: 50px
      }
    }
  }
}

table{
  tr{
    td.clickable{
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

table.team{
  border-collapse: separate;
  tr{
    height: 38px;
  }
  td.clickable.skills{
    text-decoration: none;
  }
  td{
    border-width: 4px;
    border-style: double;
    border-color: #E1A60A;
  }
  tr:nth-child(even) {
    background-color: #ede2c2;
  }


  tr:nth-child(odd) {
    background-color: #e2d9b2;
  }
  tr:first-child td:first-child{
    border-top-left-radius:10px;
  }

  tr:first-child td:last-child{
    border-top-right-radius:10px;
  }
  tr:last-child td:first-child{
    border-bottom-left-radius:10px;
  }
  tr:last-child td:last-child {
//    border-style: solid;
    border-bottom-right-radius:10px
  }
  td:first-child{
    border-left-width: 6px;
  }
  td:last-child{
    border-right-width: 6px;
  }
  tr:first-child td{
    border-top-width: 6px;
  }
  tr:last-child td{
    border-bottom-width: 6px;
  }
  td{
    .skill-list{
      display:inline;
      .defaultSkills{
        display:inline;
      }
      span.remove-skill{
        width: 0px;
        overflow:hidden;
        display: inline-block;
      }
    }
    .inputs{
      select{
        height: 20px;
        margin-bottom: 0px;
        width: 150px;
      }
    }
  }
  td{
    input{
      width: 100px;
      height: 12px;
      margin: 0px 0px 0px 5px

    }
    span.label{
      margin-left: 10px;
    }
    span.label-default{
      background-color: #E1A60A;
      text-shadow: 0 -1px 0 #E1A60A;
    }
    span.label:first-child{
      margin-left: 0px;
    }
  }
}